/* ===================================
   FEATURES - 
   =================================== */

.features {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
  padding: 3rem 2rem;
  background: white;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* ===================================
   FEATURE ITEM 
   =================================== */

.feature-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 350px;
}

/* ===================================
   FEATURE ICON - 
   =================================== */

.feature-icon {
  /* green circle */
  width: 150px;
  height: 150px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.feature-icon i {
  /* icon*/
  font-size: 3rem;
  color: black;
}

/* ===================================
   TITRE -
   =================================== */

.feature-item h3 {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* ===================================
   DESCRIPTION - p dans feature-item
   =================================== */

.feature-item p {
  color: #666;
  line-height: 1.6;
  margin: 0;
}

/* ===================================
   RESPONSIVE - Mobile
   =================================== */

@media (max-width: 920px) {
  .features {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .feature-item {
    max-width: 100%;
  }
}